/**** BASE ****/

body {
    color: #888;
}

a {
    color: #03a1d1;
    text-decoration: none!important;
}


/**** LAYOUT ****/

.list-inline>li {
    padding: 0 10px 0 0;
}


/**** MODULE ****/

.bgc-fff {
    background-color: #fff!important;
}

.box-shad {
    -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
    box-shadow: 1px 1px 0 rgba(0, 0, 0, .2);
}

.brdr {
    border: 1px solid #ededed;
}


/* Font changes */

.fnt-smaller {
    font-size: .9em;
}

.fnt-lighter {
    color: #bbb;
}


/* Padding - Margins */

.pad-10 {
    padding: 10px!important;
}

.mrg-0 {
    margin: 0!important;
}

.btm-mrg-10 {
    margin-bottom: 10px!important;
}

.btm-mrg-20 {
    margin-bottom: 20px!important;
}


/* Color  */

.clr-535353 {
    color: #535353;
}


/**** MEDIA QUERIES ****/

@media only screen and (max-width: 991px) {
    #property-listings .property-listing {
        padding: 5px!important;
    }
    #property-listings .property-listing a {
        margin: 0;
    }
    #property-listings .property-listing .media-body {
        padding: 10px;
    }
}

@media only screen and (min-width: 992px) {
    #property-listings .property-listing img {
        max-width: 300px;
    }
}

.post-footer-option {
    padding: 5px;
    margin-left: 400px;
}

.post-footer-option li {
    float: left;
    margin-right: 50px;
    padding-bottom: 15px;
}

.post-footer-option li a {
    color: #5b9bd1;
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.photo-profile {
    border: 1px solid #DDD;
}

.anchor-username h4 {
    font-weight: bold;
}

.anchor-time {
    color: #ADB2BB;
    font-size: 1.2rem;
}

.post-footer-comment-wrapper {
    background-color: #F6F7F8;
}