<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 info-container">
            <div class="col-md-offset-1">
                <!-- <h1>RedeSocial</h1> -->
                <img src="../../../assets/logo.png" alt="" width="300">
                
                <h3>
                    <i class="material-icons">monetization_on</i>Conecte-se com investidores.</h3>
                <h3>
                    <i class="material-icons">people_outline</i>Faça novas amizades.</h3>
                <h3>
                    <i class="material-icons">lightbulb_outline</i>Busque inspirações para as suas ideias.</h3>
            </div>
        </div>
        <div class="col-md-6 container-input">
            <div class="button-login">
                <a href="#" [routerLink]="[ '/cadastro']">CADASTRE-SE</a>
            </div>
            <div class="form-login">
                <h1>Compartilhe suas ideias!</h1>
                <form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
                    <div class="form-horizontal">
                        <div class="alert alert-danger col-md-6" *ngIf="errors.length > 0">
                            <h4 id="msgRetorno">Opa! Alguma coisa não deu certo:</h4>
                            <ul>
                                <li *ngFor="let error of errors">{{ error }}</li>
                            </ul>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': displayMessage.email }">
                            <div class="col-md-10">
                                <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" />
                                <span class="text-danger" *ngIf="displayMessage.email">
                                    <p [innerHTML]="displayMessage.email"></p>
                                </span>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{'has-error': displayMessage.senha }">
                            <div class="col-md-10">
                                <input class="form-control" id="senha" type="password" placeholder="Senha (requerido)" formControlName="senha" />
                                <span class="text-danger" *ngIf="displayMessage.senha">
                                    <p [innerHTML]="displayMessage.senha"></p>
                                </span>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10">
                                <span>
                                    <button class="btn btn-default col-md-8" id="login" type="submit" [disabled]='!loginForm.valid'>Login</button>
                                </span>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10">
                                <span>
                                    Esqueceu sua senha?
                                        <a routerLink="/cadastro">Clique aqui!</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>