.feed-noticias {
    float: right;
    max-width: 825px;
    background: #F6F7F8;
    border: 1px solid lightgray;
    margin-right: 10px;
}

.profile-sidebar {
    /* padding: 20px 0 10px 0; */
    color: #FFFF;
    border: 1px solid lightgray;
    margin-top: 10px;
}

.profile-sidebar a {
    text-decoration: none;
}

.profile-sidebar p {
    font-size: 14px;
    color: gray;
    /* margin-left: 70px;
    margin-top: 20px; */
    text-align: center;
}

.profile-sidebar hr {
    margin: 5px;
    color: gray;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 60%;
    height: 70%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}


/* Profile Content */

.profile-content {
    height: 300px;
}


/* Postagens Feed */

.feed-noticias-postagens {
    width: 850px;
    float: left;
    margin-top: 20px;
}

.feed-noticias-postagens img {
    width: 70px;
    height: 90px;
    margin: 10px;
    border-radius: 8px;
    float: left;
}

.feed-noticias-postagens b {
    margin: 10px;
    float: left;
}

.feed-noticias-postagens span {
    float: left;
    font-size: 11px;
    margin-left: 10px;
    color: gray;
}

.feed-noticias-postagens #postagem-conteudo {
    width: 740px;
    text-align: justify;
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 10px 0px 0px;
}

.postagem-acoes {
    margin: 10px 10px 0px 0px;
    width: 740px;
    height: 30px;
    float: right;
    cursor: pointer;
}

.postagem-acoes a {
    text-decoration: none;
}

.post-footer-option {
    padding: 5px;
}

.post-footer-option li {
    float: left;
    margin-right: 50px;
    padding-bottom: 15px;
}

.post-footer-option li a {
    color: #5b9bd1;
    font-weight: 500;
    font-size: 1.3rem;
    padding-bottom: 10px;
    margin-bottom: 5px;
}

.photo-profile {
    border: 1px solid #DDD;
}

.anchor-username h4 {
    font-weight: bold;
}

.anchor-time {
    color: #ADB2BB;
    font-size: 1.2rem;
}

.post-footer-comment-wrapper {
    background-color: #F6F7F8;
}